<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
<title>比特币量化交易</title>
</head>

<body>
<p align="center">比特币量化交易登录</p>
{% if title!="" %}
<p align="center"><font color=red>{{title}}</font></p>
{% endif %}
<form method="POST" action="/login_prg/">
	<p align="center">账号：<input type="text" name="account" size="20" maxlength="20"></p>
	<p align="center">密码：<input type="password" name="pw" size="20" maxlength="20"></p>
	<p align="center"><input type="submit" value="登  录" name="B1"></p>
</form>

</body>

</html>